 <div id = "nav-panel">
   <ul id="navigation">
       <li> <%= link_to "Welcome", welcome_path, :class => "box_half_round navigation blank", :id => "Welcome"%></li>
       <li> <a href="#" class="box_half_round navigation blank" id="Messages"> Messages </a></li>
       <li> <a href="#" class="box_half_round navigation blank" id="Bookmarks"> Bookmarks </a></li>
     &nbsp;
  </ul>
</div>