<div class="footer">
    &copy; 2012 MyLifeSpheres
    
    <!--<ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="#">News</a></li>
    </ul>-->
</div>