<div id = "right-panel">
    	<p id="help-box" class="box_round box_shadow2 box_transition box_textshadow box_bgsize box_gradient2">
	    <script type="text/javascript">
			document.write("Scroll your mouse over anything to get a description about it here")
		</script>
        <noscript> 
			Please enable Javascript in your browset
        </noscript>
    </p>
    <img id="ad" alt = "Advertisement" src="/media/imgs/profile/BannerAdVertical.jpg" class="box_round box_shadow2"/>
</div>