<div class="my-page">
  
  <% unless (@edit_page == "personal") %>
    <ul class="square-tabs">
      <li><a href="#"> Education </a></li>
      <li><a href="#"> Work </a></li>
      <li><a href="#"> Interests </a></li>
    </ul>
  <% end %>
  <div class="spaced">
    <%= render 'users/student/myinfo/' + @edit_page %>
  </div>
</div>