<div class="my-page">
  <div class="spaced">
    <p class="center-text">Welcome to MyLifeSpheres!  We hope this site will lead you to a life full of happiness.
    <br />Get started by completing the steps below:</p>
  
    <div class="checkbox-img">&nbsp;</div> <div class="checkbox"> Fill Out <%= link_to "Your Info", myinfo_path %> <br />
      <span class="normal-text"> So professionals can learn a little about you. </span>
    </div>
    <div class="checkbox-img">&nbsp;</div> <div class="checkbox"> View your "<%= link_to "public profile", show_path %>"<br />
      <span class="normal-text"> Just click on your name. See your profile as a professional will. </span>
    </div>
    <div class="checkbox-img">&nbsp;</div> <div class="checkbox"> Explore <a href="#">Spheres</a> <br />
      <span class="normal-text"> Learn about different careers you might be interested in. </span>
    </div> 
  </div>
</div>