<div id="sub-info-nav">
  <ul>
    <li> <a id="personal" 	class="blank box_half_round_top box_shadow1 active" 	        href="personal"	        > Personal </a> </li>
    <li> <a id="edu" 		class="blank box_half_round_top box_shadow1" 			href="edu"		> Education </a> </li>
    <li> <a id="work" 		class="blank box_half_round_top box_shadow1" 			href="work"		> Work </a> </li>
    <li> <a id="interests" 	class="blank box_half_round_top box_shadow1"			href="interests"	> Interests </a> </li>
  </ul>
  <p class="buffer2">&nbsp; </p>
</div>