These are just placeholders for now. This will look much better when properly styled.
<ul>
  <li>College
    <ul>
      <li> Name: </li>
      <li> Degree: </li>
      <li> Year of Graduation:</li>
      <li> GPA: </li>
    </ul>
  </li>
</ul>

<ul>
  <li>High School
    <ul>
      <li> Name: </li>
      <li> Program: </li>
      <li> Year of Graduation:</li>
      <li> GPA: </li>
    </ul>
  </li>
</ul>