<div class = "content" id="sub-info-personal" >
	<h1> <%= @user.name %> </h1>
	<p class="label"> Spheres Interested In: </p>
	None right now <br />
	<p class="label"> About Me:</p>
	<textarea rows=5 cols=60 readonly="readonly"> (Nothing is written here yet) </textarea>
	<p> Official Resume: <a href="#"> None Uploaded Yet </a></p>
	
</div>