body {
    background-color: #e1e1e1;
    font-family: helvetica, tahoma, arial, sans-serif;
}

a, a:link, a:active, a:focus, a:hover, a:visited {
    text-decoration: none;
    color: #000;
}

.header {
    width: auto;
}

.signin {
    float: right;
    padding: 3px;

}

.signin ul {
    text-align: right;
    margin: 0;
}

.signin li {
    list-style-type: none;
    margin: 0;
    display: block;
    float: right;
    background-position: 100%;
}

.signin li a:link {
    background-color: #8f8f8f;
    font-size: 14px;
    color: #000;
    text-decoration: none;
    padding: 6px;
    border-radius: 1em 1em 0 0;
    -webkit-border-radius: 1em 1em 0 0;
    -moz-border-radius: 1em 1em 0 0;
}

/* re-do with javascript
.signin li a:hover {
    border-radius: 1em 1em 0 0;
    -webkit-border-radius: 1em 1em 0 0;
    -moz-border-radius: 1em 1em 0 0;
} */

.signin li > ul li {
    border: 1px solid #8f8f8f;
    border-radius: 1em 0 1em 1em;
    -webkit-border-radius: 1em 0 1em 1em;
    -moz-border-radius: 1em 0 1em 1em;
    padding: 5px;
    margin-top: 5px;
    font-size: 10px;
    
    display: none;
}

.signin li:hover > ul li {
    display: block;
}

.header {
    width: auto;
}

.dropdown {
    visibility: hidden;
}

.wrap {
    margin: 0 auto;
    width: 1000px;
}


/* Home Page Style */
.logo {
    width: 1000px;
    height: 100px;
    background-image: url(../media/imgs/logo.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.studentsignup {
    float: left;
    width: 270px;
    height: 315px;
    margin: 0px;
    padding-right: 20px;
    vertical-align: middle;
    text-align: right;
}

.studentsignup h1 {
    margin-top: 100px;
    margin-bottom: 10px;
}

.video {
    float: left;
    width: 420px;
    height:315px;
    margin: 0;
    padding: 0;
    text-align: center;
}

.professionalsignup {
    float: left;
    width: 270px;
    height: 315px;
    margin: 0px;
    padding-left: 20px;
    vertical-align: middle;
    text-align: left;
}

.professionalsignup h1 {
    margin-top: 100px;
    margin-bottom: 10px;
}

.studentsignup > .signupbutton {
    float: right;
}

.signupbutton a:link {
    margin:0px;
    display: block;
    background-image: url(../media/imgs/home/signupbutton.png);
    width: 150px;
    height: 50px;
}

.signupbutton a:hover {
    background-image: url(../media/imgs/home/signupbutton_hover.png);
}

.clear {
    clear: both;
}

.spheres {
    
}

.spheresbutton {
   width: 1000px;
    height: 100px;
	display:block;
    background-image: url(../media/imgs/home/spheresbutton.png);
    background-position: center;
    background-repeat: no-repeat;
}

/* End Home Page */

/* Signup Page Style */

.signupwrap {
    width: 600px;
    margin: 75px auto;
    padding-bottom: 20px;
    border: 1px solid #000;
    border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    /*background-color: #FFF;*/
    text-align: center;
    color: #8f8f8f;
}

h1.signup {
    width: auto;
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid #000;
    padding: 0;
    padding-bottom: 20px;
}


.formlabels {
    text-align: right;
    float: left;
    width: 280px;
    padding: 10px;
    line-height: 23px;
}

.signupform {
    text-align: left;
    float: right;
    width: 280px;
    padding: 10px;
}


.field_with_errors {
  background-color: red;
  display: table;
  background-color: red;
  margin-bottom: -1.1em;
}

.field_with_errors label {
  color: #fff;
}

#error_explanation {
  margin: 0 auto;
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

.center{
    margin: 0 auto;
}

/* End Signup Page */

.footer{
    width: 1000px;
    float: left;
    text-align: center;
    font-size: 14px;
    color: #383838;
}

.footer li{
    display:inline;
    list-style-type: none;
}